#banner
    margin: 5px 15px
    background-color: #F3F3F3
    .row
        background-color: #F3F3F3
        .col-5
            .jumbotron
                background-color: #F3F3F3
                .lead
                    font-size: 45px
                h1
                    font-size: 80px
                .para
                    font-size: 12px    
                    margin-bottom: Opx !important
                    margin-block-end: 0px !important
                a
                    font-size: 9px
            img
                max-width: 100%
                width: 70% !important