footer
    background-color: #212121
    color: $blanc
    .container
        .row
            .col-sm-4
                border-color: $footerColor !important
                font-family: $poppins
                h1
                    margin-bottom: 40px
                    margin-top: 15px
                    font-size: 18px
                    font-weight: bold
                    text-transform: uppercase
                a
                    text-transform: none
                    text-transform: capitalize
                    color: $footerColor
                    font-size: 12px
                hr
                    background-color: $footerColor
                p
                    color: $footerColor
                    font-size: 12px
            .tags
                a
                    display: inline-block
                    border: solid $footerColor 1px
                    padding: 10px 10px
                    margin-top: 10px
                    font-size: 12px
                    &:hover
                        text-decoration: none
                        color: $blanc