#info
    margin-top: 7rem
    .row
        align-content: center
        .col-sm-4
            width: 386.5px
            height: 553px
            padding: 70px 0
            float: left
            margin: 0px
            i
                font-size: 30px
            h1
                font-size: 14px
                font-family: $poppins
                font-weight: bold
                margin: 30px 0px
            p
                font-family: $source
                padding: 0px 50px
                font-size: 20px
            a
                font-family: $source, sans-serif
                font-weight: bold
                margin: 30px 0px
                font-size: 13px