.modeDark
    background-color: $blanc
    // transition-duration: 2s
    opacity: 1
.bg-noir
    background-color: $noir
    // transition-duration: 2s
.bg-white
    // transition-duration: 2s
.noir
    // transition-duration: 2s
    color: $noir
.gris
    // transition-duration: 2s
    color: gray
.blanc
    transition-duration: 2s
    color: $blanc
.border-blanc
    // transition-duration: 2s
    border: solid $blanc 10px 
.border-noir
    // transition-duration: 2s
    border: solid $noir 10px !important
.transition
    transition-duration: 2s
.stickyElem
    position: sticky
    top: 0
    z-index: +4
    padding-bottom: 5px !important
    animation: translate 1s
    @keyframes translate
        0%
            transform: translateY(-50%)
        100%
            transform: translateY(0%)
.logoDiff
    position: absolute
    bottom: 0
    left: 10px
.bouf
    padding-top: 150px