.modeDark
    background-color: white
    opacity: 1
.bg-noir
    background-color: black
.noir
    color: black
.gris
    color: gray
.blanc
    color: white
.border-blanc
    border: solid white 10px 
.border-noir
    border: solid black 10px !important