#product
    margin: 50px 15px
    .row
        .col-sm-6
            h1
                font-size: 20px
            .row
                .col-sm-4
                    img
                        max-width: 100%
                        height: auto
                        padding-bottom: 30px
                        padding-top: 30px
                    p
                        font-family: $poppins
                        font-size: 12px
                        text-transform: capitalize
                        margin-bottom: 0px
                        text-align: center
                        font-weight: bold